.product_contaner_div .result_div_inner {
   width: 1575px;
}
.product_contaner_div .result_div_first {
   width: 606px !important;
}
.product_contaner_div .result_head_div .result_heading_div {
   width: 120px;
}
